Source: ros-jade-naoqi-dashboard
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: http://ros.org/wiki/naoqi_dashboard
Standards-Version: 3.9.2

Package: ros-jade-naoqi-dashboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-diagnostic-aggregator, ros-jade-diagnostic-common-diagnostics, ros-jade-diagnostic-msgs, ros-jade-naoqi-bridge-msgs (>= 0.0.4), ros-jade-rqt-robot-dashboard, ros-jade-rqt-robot-monitor
Conflicts: ros-jade-nao-dashboard, ros-jade-nao-viz
Description: naoqi_dashboard is a GUI for monitoring the state of an ALdebaran robot. It is a port of pr2_dashboard and shows status information like battery status, joint temperatures, and joint stiffness, as well as integrating ROS tools like rqt_console and rqt_robot_monitor.
